body {
    background-image: url(../images/pokemon1.jpg);
}

input {
    margin: 10px 0 5px 0;
    padding: 0 0 0 10px;
}

#add-pokemon {
    background-color: gold;
    color: midnightblue;
    padding:2px 20px 2px 20px;
    border-radius: 8px;
    box-shadow: 1px 1px 2px black;
    font-weight: bold;
}
input[type="text"] {
    padding: 5px 0 5px 0;
    box-shadow: 0 0 10px 2px;
    text-align: center;
    font-weight: bold;
}

#buttons-view {
    background-image: url(../images/pokemon.jpg);
    opacity: 0.8;
    margin: 10px 0 10px 0;
    font-weight: bold;
    text-transform: capitalize;
    background-size:cover;
}

button {
    color: midnightblue ;
    text-shadow: 2px 2px yellow;
    font-weight: bold;
    margin: 10px;
    text-transform: capitalize;
    box-shadow: 2px 2px 2px black;
}

#pokemon-form {
    margin-top: 10px;
}

p {
    color: crimson;
    font-weight: bold;
    text-transform: capitalize;
}
